.completeTask{
    text-decoration: line-through;
}

.table th{
    padding-top: 10px;
    color: #7F00FF;
}

.th1{
    max-width: 100px;
    min-width: 100px;
}

.table{
    width: 100%;
}

.list_row{
    max-width: 220px;
    min-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.crudBtn{
    font-size:10px;
}